/* YEEEEAAAHHH I EXIST */

#banner {
	
	text-transform: uppercase;
	text-align: center;
	line-height: 15px;
	width: 50%;
	margin: 0 auto;
	border-bottom: 1px solid #b7b7b7;
	margin-bottom: 3em;
	color: #b7b7b7;
}

#tooltip {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 1em;
	z-index: 100;
}

#tooltip a {
    color: #b7b7b7;
	text-transform: capitalize;
}

.empty_seat {
  fill: #FFFFFF;
  stroke: #B7B7B7;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.strong.no {
    fill: #DF5E1F;
}

.weak.no {
    fill: #C9A79D;
}

.strong.yes {
    fill: #00A087;
}

.weak.yes {
    fill: #8EB2AA;
}

.undecided, .unknown {
    fill: #B7B7B7;
}

.fade {
    fill-opacity: .05;
    stroke-opacity: .05;
}

circle {
    fill-opacity: 1;
}

circle, .fade {
    transition: fill-opacity .5s;
}
.empty_seat,.empty_seat.fade {
    transition: stroke-opacity .5s;
}



#vote_breakdown_counter {
	width: 100%;
	margin: 1em 0 1em 0;
	text-align:center;
}

#vote_breakdown_counter ul {
	list-style-type: none;
	padding:0;
	margin:0;
	line-height:0;
}

#vote_breakdown_counter li {
	display: inline-block;
	padding-right: 3px;
}

#vote_breakdown_counter ul img {
	margin-bottom:-3px;
	margin-right: -1px;
	width: 15px;
}

#vote_breakdown_counter p {
	font-size: 14px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #2d2d2d;
	margin-top: 4px;
	margin-bottom: 6px;
}

#vote_breakdown_counter span {
	font-weight: normal;
}

#party_picker {
	margin-bottom: 1em;
	left: 50%;
	position: relative;
	margin-left: -159px;
}

#show_republicans_only, #show_democrats_only, #show_all_parties, #play_times {
	background-color: #eee;
	border: 4px solid #ccc;
	color: #ccc;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: normal;
	margin-bottom: 1em;
	margin-left: .2em;
	margin-right: .2em;
	text-transform: uppercase;
	padding: 4px;
	margin-right: 3px;	
} 

#show_republicans_only:hover, #show_republicans_only.selected {
	cursor: pointer;
	background-color: #EF4023;
	border: 4px solid #CD371E;
	color: #fff;
	-moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#show_democrats_only:hover, #show_democrats_only.selected {
	cursor: pointer;
	background-color: #0168A2;
	border: 4px solid #304481;
	color: #fff;
	-moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

#show_all_parties:hover, #show_all_parties.selected {
	cursor: pointer;
	background-color: #515151;
	border: 4px solid #2d2d2d;
	color: #fff;
	-moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;	
}

text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: red;
}

#play_times {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display:block
}
#play_times.selected, #play_times:hover {
	background-color: #515151;
	border: 4px solid #2d2d2d;
	color: #fff;
	cursor: pointer;	
}

#pass_fail {

	font-family: "Trebuchet MS", Helvetica, sans-serif;

}





/* SLIDER */

	.noUiSlider,
	.noUiSlider * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		display: block;
		cursor: default;
	}
	.noUiSlider {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}
	
	#time_picker_label {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 350px;
		display: block;
		text-transform: uppercase;
		padding: 10px;
		font-family: arial;
		color: #b7b7b7;
	}

	.noUiSlider a {
		position: absolute;
		z-index: 1;
	}
	.noUiSlider a:nth-child(2) {
		background: inherit !important;
	}
	.noUiSlider.vertical a {
		width: 100%;
		bottom: 0;
	}
	.noUiSlider.horizontal a {
		height: 100%;
		right: 0;
	}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.noUiSlider:before,
	body.TOUCH,
	.noUiSlider div {
		-ms-touch-action: none;
	}
	.noUiSlider:before {
		display: block;
		position: absolute;
		width: 150%;
		left: -25%;
		height: 400%;
		top: -150%;
		content: "";
		z-index: -1;
	}
	.noUiSlider.vertical:before {
		width: 400%;
		left: -150%;
		height: 150%;
		top: -25%;
	}
}
	.noUiSlider {
		border: 1px solid #908d84;
		border-radius: 3px;
	}
	.noUiSlider.connect a,
	.noUiSlider.connect.lower {
		background: #b2a98f;
	}
	.noUiSlider,
	.noUiSlider.connect.lower a {
		background: #d9d7cb;
		box-shadow: inset 0px 1px 7px #b6b4a8
	}
	.noUiSlider.disabled,
	.noUiSlider.disabled.connect.lower a {
		background: #ccc;
		box-shadow: none;
	}
	.noUiSlider div {
		height: 18px;
		width: 18px;
		border: 1px solid #99968f;
		border-radius: 3px;
		background: #efefe7;
	}
	.noUiSlider.disabled div {
		background: transparent;
	}
	.noUiSlider.horizontal {
		width: 300px;
		height: 10px;
	}
	.noUiSlider.horizontal div {
		margin: -5px 0 0 -9px;
	}
	.noUiSlider.vertical {
		width: 10px;
		height: 300px;
	}
	.noUiSlider.vertical div {
		margin: -9px 0 0 -5px;
	}