/* YEEEEAAAHHH I EXIST */

#tooltip {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    padding: 1em;
}

.empty_seat {
  fill: #FFFFFF;
  stroke: #2D2D2D;
  stroke-width: 1px;
}

.strong.no {
    fill: #DF5E1F;
}

.weak.no {
    fill: #E2997D;
}

.strong.yes {
    fill: #00A087;
}

.weak.yes {
    fill: #A5E5D8;
}

.undecided, .unknown {
    fill: #2D2D2D;
}

.fade {
    fill-opacity: .2;
}

text {
  font: 10px sans-serif;
}
